<div>Найдено: {{ compare }} совпадение</div>
<div><span class="uk-text-large">Липецк</span> <span class="uk-text-small">({{ compare }} вхождений)</span></div>
<ul class="uk-list uk-list-space">
	<li><span class="uk-text-large"><a href="#">Липецкая область</a></span> <span class="uk-text-small">(15 вхождений)</span></li>
	<li><span class="uk-text-large"><a href="#">Липецкий курорт</a></span> <span class="uk-text-small">(8 вхождений)</span></li>
</ul>
